<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="albumApp">
  <head>
    <meta charset="utf-8">
    <title>永远的20434班</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/colorbox-master/example1/colorbox.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .toolbar-fixed-top{
        position: fixed;
        top: 60px;
      }
      .background-color{
        border-color: rgb(237,237,237);
      }
      .center-text{
        text-align: center
      }
      .hidden-element{
        display: none;
      }

    </style>
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
    <div id="banner" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"><image src="/icons/logo.png"/></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">永远的20434</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/artical/new">写文章</a></li>
              <li><a href="/albums">相册</a></li>
            </ul>
            <form class="navbar-search pull-right">
              <input class="search-query span3" type="text" placeholder="Type to search">
            </form>
          </div><!--/.nav-collapse -->
        <!--/div-->
      </div>
    </div>
  </div>

    <div class="container-fluid" id="contentContainer" >

      <!-- Main hero unit for a primary marketing message or call to action -->
      <!--div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div-->

      <!-- Example row of columns -->

      <div class="span12" ng-controller="AlbumsCtrl" ng-init="loadAlbums()" >
        <div>
          <a data-toggle="modal" class="btn btn-success" href="#addNewAlbum"><i class="icon-plus icon-white"></i>增加相册...</a>
          <hr>
          <div class="modal fade" id="addNewAlbum">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">增加相册</h4>
                </div>
              <div class="modal-body">
                <input type="text" class="input-block-level" placeholder="输入相册名称" ng-model="newAlbumName">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
                <button type="button" class="btn btn-primary" ng-click="newAlbum()">保存</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div><!--end div-->

        <div class="row-fluid">
          <div ng-repeat="album in albumList" main-directive class="span3">

            <a colorbox-data="colorbox-{{album.name}}" href="{{album.coverImage}}"><image class="img-circle" src="{{album.coverImage}}"></a>
            <div class="hidden-element" id="album-{{album.name}}">
              <a colorbox-data="colorbox-{{album.name}}" ng-repeat="file in album.files" colorbox-directive href="{{file.url}}"></a>
            </div>
            <p class="lead center-text"><a href="/albums/edit/?album={{album.name}}">{{album.name}}</a></p>
          </div>
        </div>

      </div><!--end of span12-->

    </div> <!-- /container -->

    <div id="footer">
      <p class="muted credit">&copy; Utopia-Project All Rights Reserved.</p>
    </div>
  </body>
     <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/bootstrap/js/bootstrap-button.js"></script>
    <script src="/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="/bootstrap/js/holder/holder.js"></script>
    <script src="/colorbox-master/jquery.colorbox.js"></script>
    <script src="/angularjs_1.0.7/angular.js"></script>
    <script src="/20434/album_ctrl.js"></script>
    <script>
    </script>

</html>
